/*
header row styles
*/
.header-row{
    padding-top: 5px;
    margin-bottom: 13px;
}

/*
audience row style
*/


ul.audience>li{
    display: inline; /* Отображать как строчный элемент */
    margin-top: 0;
    padding-left: 8px;
}
.nav-pills>li>a.audience{
    color: #555;
    font-family: 'Open Sans', sans-serif ;
    font-size: 11pt;
    border-radius: 0;
}
.nav>li>a.audience {
    padding: 6px 5px 4px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 3px solid transparent;
}
.nav-pills>li>a.audience:hover, .nav-pills>li>a.audience:focus {
    background-color: transparent;
    color: #333;
}

a#entrant:hover, a#entrant:focus{
    border-color: #2675D0;
    background-color: transparent;
}
a#student:hover, a#student:focus{
    border-color: #e43f51;
    background-color: transparent;
}
a#graduate:hover, a#graduate:focus{
    border-color: #58b028;
    background-color: transparent;
}
a#professor:hover, a#professor:focus{
    border-color: #E3D23E;
    background-color: transparent;
}



.navbar.navbar-default.search-languages-navbar{
    background-color: transparent;
    border:none;
    margin: 0;
    padding: 0;
    min-height: 20px;
}
.navbar.navbar-default.search-languages-navbar form{
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-nav.audience>li>a{
    border-bottom: 3px solid transparent;
    border-radius: 0;
    padding: 6px 5px 4px;
    margin-right: 10px;
}




.navbar.navbar-default.search-languages-navbar
a.languages,
li.languages
{
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-nav.audience>li>a.languages:hover, .navbar-nav.audience>li>a.languages:focus  {
    background-color: transparent;
    border-color: #f1efeb;
}

.languages{
    font-family: 'Open Sans', sans-serif ;
    font-size: 11pt;
    color: #555;
}

.btn.btn-default.search-btn:hover,
.btn.btn-default.search-btn:focus{
    background-color: #fbf9f5;
}

@media (max-width: 1200px){
    .hidden-xs.hidden-md.hidden-lg.col-sm-1.search{
        padding-left:0;
        padding-right: 0;
    }
}


/*
title row style
*/
#amcp_logo {
    margin: 5px 0 0 10px;
    height: 100px;
}
@media (min-width: 1200px){
    #amcp_logo{
        margin-left: 20px;
    }
}


#spbu_block, #spbu_logo{
    height: 100px;
    margin-left: -20px;
    margin-top: 7px;
}

.title-col{
    padding-left: -5px;
    font-family: 'Open Sans', sans-serif ;
}
.title-col>a{
    text-decoration: none;
    color: #333;
}
.title-col>a:hover, .title-col>a:focus{
    text-decoration: none;
    color: #333;
}
.subtitle{
    margin-top: 7px;
    font-size: 18pt;
}

.title {
    margin-top: -7px;
    font-size: 22pt;
    font-weight: 600;
}
@media (max-width: 767px){
    .row.header{
        margin-top: 10px;
    }
    .subtitle{
        padding: 0 10px;
        font-size: 12pt;
    }
    .title {
        font-size: 16pt;
        padding: 0 10px;
    }

    #amcp_logo{
        max-height: 70px;
        margin: 5px;
    }

}
@media (max-width: 767px) and (min-width: 530px){
    .col-xs-10.title-col{
        padding-left: 0;
    }
    #amcp_logo{
       margin-left: 20px;
    }
}

/*
main menu style
*/
.navbar.navbar-default.main-menu
{
    margin-top: 20px;
    margin-bottom: 3px;
    min-height: 30px;
    background-color: #fbf9f5;
    font-family: 'Open Sans', sans-serif;
}
.nav-pills>li>a.menu:focus, .nav-pills>li>a.menu:hover {
    background-color: #f1efeb;
}
.nav-pills>li>a.menu{
    color: #555;
    font-size: medium;
    font-weight: 600;
}
div#navbar-collapse-1.collapse.navbar-collapse.navbar-nav-justified {
    padding-right: 0;
    padding-left: 0;
}
ul.dropdown-menu.main-menu>li>a, .dropdown-menu.profile>li>a{
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}
ul.dropdown-menu.main-menu>li>a:hover,
.dropdown-menu.profile>li>a:hover,
ul.dropdown-menu.main-menu>li>a:focus,
.dropdown-menu.profile>li>a:focus
{
    background-color: #fbf9f5;
}
span.navmenu{
    font-family: 'Open Sans', sans-serif;
    padding-left: 3px;
}


/*
footer
*/


.row.footer{
    font-family: 'Open Sans', sans-serif ;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;
    background-color: #fbf9f5;

}
.footer-content{
}
.contacts, .links{
    padding :10px 0 0;
}
.footer h5{
    font-weight: 600;
}
.official-contacts>div, .socials>div{
    margin: 10px 10px;
}
.official-contacts>div>a{
    margin-left: 10px;
}
div.socials{
    margin: 0 10px 0;
}

div.socials>div>a{
    margin-left: 15px;
}
i.fa{
    width: 20px;
    color: #555;
}
.authentic{
    color: #555;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    padding: 10px 10px 10px;
    margin-bottom: 0;
}


/*
breadcrumb
*/

.navbar.navbar-default.content-navbar{
    margin-top: 0;
    min-height: 44px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #e43f51;
    border-radius: 0;
}

.breadcrumb.header-breadcrump{
    background-color: transparent;
    padding-left:0;
    padding-bottom: 3px;
    margin-bottom: 0;
}

.breadcrumb a{
    text-decoration: none;
    color: #888;
}
.breadcrumb a:hover, .breadcrumb a:focus{
    color: #555;
}

.breadcrumb li.active{
    font-size: x-large;
    color: #333;
}
.breadcrumb.header-breadcrump>li+li::before{
    font-size: medium;
}


/* */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}


/*
header navbar for xs
*/
.col-xs-12.navbar-xs{
    padding: 5px;
}
.navbar.navbar-default.navbar-xs{
    background-color: white;
    border: none;
    min-height: 30px;
    margin-bottom: 0;

}
.navbar.navbar-default.navbar-xs a.navbar-brand{
    padding: 5px 7px;
}
.navbar.navbar-default.navbar-xs a.navbar-brand.text{
    padding-top: 10px;
    color: #333;
}
.navbar.navbar-default.navbar-xs .navbar-brand img{
    max-height: 30px;
    padding: 0;
}

.navbar-xs .navbar-toggle.collapsed{
    margin: 5px;
    border: none;
}
.navbar-xs .navbar-toggle.collapsed:focus{
    background-color: transparent;
}
.navbar-xs .navbar-toggle.collapsed .icon-bar{
    background-color: #e43f51;
}

.navbar-xs .navbar-toggle{
    margin: 5px;
    border: none;
}
.navbar-xs .navbar-toggle.menu-btn:focus,
.navbar-xs .navbar-toggle.menu-btn:hover{
    background-color: #f8f9f7;
}



.navbar-xs .col-xs-6.audience{
     padding: 0;
     text-align: center;
 }
.navbar-xs .col-xs-12{
    padding: 0;
}

.navbar-xs .row.row-eq-height.audience{
    background-image: url(../images/mosaic-combo-blur.jpg);
    background-size: cover;
    background-position: center;
    opacity : 0.7;
    border: none;
    border-radius: 4px;
}
.navbar-xs .audience li {
    margin-top: 0;
    padding: 5px 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    text-shadow: black 2px 1px 5px;
}

.navbar-xs .audience li a{
    padding: 10px 1%;
    color: white;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #e7e7e7;
}

.navbar-xs .audience li>a:hover, .navbar-xs .audience li>a:focus{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.col-xs-10.search-languages, .col-xs-2.search-languages{
    padding: 0;
    margin: 5px 0;
    text-align: center;
}

.btn.btn-default.dropdown-toggle.languages
 {
    border: none;
    padding-left: 7px;
    padding-right: 7px;
 }
.btn.btn-default.dropdown-toggle.languages:focus,
.btn.btn-default.dropdown-toggle.languages:hover
{
    background-color: #f8f9f7;
    box-shadow: none;
}

.search-languages ul.dropdown-menu{
    min-width: 20px;
}
.search-languages ul.dropdown-menu a{
    padding-left: 7px;
    padding-right: 7px;
}
.search-languages ul.dropdown-menu a:hover,
.search-languages ul.dropdown-menu a:focus
{
    background-color: #f8f9f7;
}

.navbar.navbar-default.main-menu-xs{
    background-color: transparent;
    border: none;
    margin: 5px 0;
}

ul.nav.navbar-nav.main-menu{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

ul.nav.navbar-nav.main-menu>li{
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    background-color: #fbf9f5;
}
ul.nav.navbar-nav.main-menu>li>a.menu:hover,
ul.nav.navbar-nav.main-menu>li>a.menu:focus{
    background-color: #f1efeb;
}
ul.nav.navbar-nav.main-menu>li>a.menu{
    color: #555;
    font-size: medium;
    font-weight: 600;
}
ul.nav.navbar-nav.main-menu ul.dropdown-menu.main-menu{
    text-align: center;
    background-color: #fefdf9;
    font-size: 11pt;
}
.navbar-default.main-menu-xs .navbar-nav .open .dropdown-menu>li>a{

    color: #333;
}