/*
header row styles
*/
.header-row{
    padding-top: 5px;
    margin-bottom: 13px;
}

/*
audience row style
*/


ul.audience>li{
    display: inline; /* Отображать как строчный элемент */
    margin-top: 0;
    padding-left: 8px;
}
.nav-pills>li>a.audience{
    color: #555;
    font-family: 'Open Sans', sans-serif ;
    font-size: 11pt;
    border-radius: 0;
}
.nav>li>a.audience {
    padding: 6px 5px 4px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 3px solid transparent;
}
.nav-pills>li>a.audience:hover, .nav-pills>li>a.audience:focus {
    background-color: transparent;
    color: #333;
}

a#entrant:hover, a#entrant:focus{
    border-color: #2675D0;
    background-color: transparent;
}
a#student:hover, a#student:focus{
    border-color: #e43f51;
    background-color: transparent;
}
a#graduate:hover, a#graduate:focus{
    border-color: #58b028;
    background-color: transparent;
}
a#professor:hover, a#professor:focus{
    border-color: #E3D23E;
    background-color: transparent;
}

.nav-pills>li>a.languages:hover, .nav-pills>li>a.languages:focus  {
    background-color: transparent;
    border-color: #f1efeb;
}

.languages{
    font-family: 'Open Sans', sans-serif ;
    font-size: 11pt;
    color: #555;
}
.nav-pills>li>a.languages{
    border-bottom: 3px solid transparent;
    border-radius: 0;
    padding: 6px 5px 4px;
}
.dropdown-menu.languages{
    min-width: 40px;
}


/*
title row style
*/
.row.header{
    margin-bottom: 20px;
}
#amcp_logo {
    margin: 5px 0 0 20px;
    height: 100px;
}

#spbu_block {
    height: 100px;
    margin-left: -20px;
    margin-top: 7px;
}

.title-col{
    padding-left: -5px;
    font-family: 'Open Sans', sans-serif ;
}
.title-col>a{
    text-decoration: none;
    color: #333;
}
.title-col>a:hover, .title-col>a:focus{
    text-decoration: none;
    color: #333;
}
.subtitle{
    margin-top: 7px;
    font-size: 18pt;
}

.title {
    margin-top: -7px;
    font-size: 22pt;
    font-weight: 600;
}

.btn.btn-default.search-btn:hover,
.btn.btn-default.search-btn:focus{
    background-color: #fbf9f5;
}

/*
main menu style
*/
.navbar.navbar-default.main-menu{
    margin-bottom: 3px;
    min-height: 30px;
    background-color: #fbf9f5;
    font-family: 'Open Sans', sans-serif;
}
.nav-pills>li>a.menu:focus, .nav-pills>li>a.menu:hover {
    background-color: #f1efeb;
}
.nav-pills>li>a.menu{
    color: #555;
    font-size: medium;
    font-weight: 600;
}
div#navbar-collapse-1.collapse.navbar-collapse.navbar-nav-justified {
    padding-right: 0;
    padding-left: 0;
}
ul.dropdown-menu.main-menu>li>a, .dropdown-menu.profile>li>a{
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}
ul.dropdown-menu.main-menu>li>a:hover,
.dropdown-menu.profile>li>a:hover,
ul.dropdown-menu.main-menu>li>a:focus,
.dropdown-menu.profile>li>a:focus
{
    background-color: #fbf9f5;
}
span.navmenu{
    font-family: 'Open Sans', sans-serif;
    padding-left: 3px;
}


/*
footer
*/
.footer{
    font-family: 'Open Sans', sans-serif ;
    padding-left: 15px;
    padding-right: 15px;
}
.footer-content{
    background-color: #fbf9f5;
}
.contacts, .links{
    padding :10px 0 0;
}
.footer h5{
    font-weight: 600;
}
.official-contacts>div, .socials>div{
    margin: 10px 10px;
}
.official-contacts>div>a{
    margin-left: 10px;
}
div.socials{
    margin: 0 10px 0;
}

div.socials>div>a{
    margin-left: 15px;
}
i.fa{
    width: 20px;
    color: #555;
}
.authentic{
    color: #555;
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    padding: 10px 10px 10px;
    margin-bottom: 0;
}


/*
breadcrumb
*/

.navbar.navbar-default.content-navbar{
    margin-top: 0;
    min-height: 44px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #e43f51;
    border-radius: 0;
}

.breadcrumb.header-breadcrump{
    background-color: transparent;
    padding-left:0;
    padding-bottom: 3px;
    margin-bottom: 0;
}

.breadcrumb a{
    text-decoration: none;
    color: #888;
}
.breadcrumb a:hover, .breadcrumb a:focus{
    color: #555;
}

.breadcrumb li.active{
    font-size: x-large;
    color: #333;
}
.breadcrumb.header-breadcrump>li+li::before{
    font-size: medium;
}


/* */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
