.content{
    padding-bottom: 20px;
    margin: 0 10px;
    border-bottom: 3px solid #e43f51;
}



.btn.btn-default.profile-btn{
    border: none;
}
.btn.btn-default.profile-btn:hover, .btn.btn-default.profile-btn:focus{
    background-color: #fbf9f5;
    box-shadow: none;
}
.open>.dropdown-toggle.btn-default.profile-btn:focus, .open>.dropdown-toggle.btn-default.profile-btn:hover {
    background-color: #fbf9f5;
    box-shadow: none;
}
.profile-image{
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-left:  -5px;
}
.profile.dropdown-menu{
    right: 0;!important;
}
.btn.btn-default.profile-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}

.profile-btn>span.caret{
    margin-left: 5px;
}

/*student menu*/


.student-menu{
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    text-align: center;
    border-radius: 4px;
}

#menu-block-1>.nav-stacked>li {
    /*padding-left: 10px;*/
}
#menu-block-2>.nav-stacked>li {
   /* padding-right: 10px;*/
}
.col-md-6.student-menu{
    padding: 0;
}
.col-md-3.left-menu{
    padding-left: 30px;
}
.col-md-3.right-menu{
    padding-right: 30px;
}
#menu-center {
    position: relative;
}
#menu-center:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/mosaic-combo-blur.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    opacity : 0.7;
    z-index: -1;
}

.menu-block>.nav-stacked>li{
    margin-top: 0;
    padding: 10px 35px;
}
.menu-block>.nav-stacked>li>a{
    color: white;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #e7e7e7;
}
.menu-block>.nav-stacked>li>a:hover, .menu-block>.nav-stacked>li>a:focus{
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

.nav-stacked.menu-side>li{
    margin-top: 0;
    padding: 10px 20px;
}
.nav-stacked.menu-side>li>a{
    background-color: #fbf9f5;
    color: #333;
    font-weight: 600;
    border: 1px solid #e7e7e7;
}

.nav-stacked.menu-side>li>a:hover, .nav-stacked.menu-side>li>a:focus{
    background-color: #f1efeb;
    color: black;
}


