.navbar.navbar-default.student-navbar{
    margin-top: 10px;
    min-height: 44px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #e43f51;
    border-radius: 0;
}
h3.students{
    margin-top: 7px;
}
.btn.btn-default.profile-btn{
    border: none;
}
.btn.btn-default.profile-btn:hover, .btn.btn-default.profile-btn:focus{
    background-color: #f8f8f8;
    box-shadow: none;
}
.open>.dropdown-toggle.btn-default.profile-btn:focus, .open>.dropdown-toggle.btn-default.profile-btn:hover {
    background-color: #f8f8f8;
    box-shadow: none;
}
.profile-image{
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-left:  -5px;
}
.profile.dropdown-menu{
    right: 0;!important;
}
.profile-btn>span.caret{
    margin-left: 5px;
}



/*student menu*/

/*.student-menu{
    margin-top: 4px;
}
.student-menu>.nav.nav-pills.nav-justified>li{
    margin-left: 20px;
}

#menu-block-1>.nav.nav-pills.nav-stacked{
    background-image: url(../images/mosaic-left-bottom.jpg);
    opacity: 0.5;
    margin-right: 30px;
}
#menu-block-2>.nav.nav-pills.nav-stacked{
    /*background-color: rgba(228, 63, 81, 0.51);*/
/*    background-image: url(../images/mosaic-center-top.jpg);
    opacity: 0.5;
}
#menu-block-3>.nav.nav-pills.nav-stacked{
    /*background-color: rgba(88, 176, 40, 0.5);*/
/*    background-image: url(../images/mosaic-center-bottom.jpg);
    opacity: 0.5;
}
#menu-block-4>.nav.nav-pills.nav-stacked{
    /*background-color: rgba(227, 210, 62, 0.51);*/
/*    background-image: url(../images/mosaic-right-bottom.jpg);
    opacity: 0.5;
    margin-left: 30px;
}
.menu-block{
    text-align: center;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.menu-block>.nav-stacked>li{
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    margin-top: 0;
    padding-top: 10px ;
    padding-bottom: 10px;
}

.menu-block>.nav-stacked>li>a{
    color: #333;
}
.menu-block>.nav-stacked>li:hover, .student-menu>.nav-stacked>li:focus{
    background-color: rgba(255, 255, 255, 0.3);
}
.menu-block>.nav-stacked>li>a:hover, .student-menu>.nav-stacked>li>a:focus{
    background-color: transparent;
    color: black;
}*/

.student-menu{
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    text-align: center;
    border-radius: 4px;
}

#menu-block-1>.nav-stacked>li {
    /*padding-left: 10px;*/
}
#menu-block-2>.nav-stacked>li {
   /* padding-right: 10px;*/
}
.col-md-6.student-menu{
    padding: 0px;
}
.col-md-3.left-menu{
    padding-left: 30px;
}
.col-md-3.right-menu{
    padding-right: 30px;
}
#menu-center {
    position: relative;
}
#menu-center:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/mosaic-combo.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    opacity : 0.6;
    z-index: -1;
}

.menu-block>.nav-stacked>li{
    margin-top: 0;
    padding: 10px 35px;
}
.menu-block>.nav-stacked>li>a, .nav-stacked.menu-side>li>a{
    color: #333;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.6);
}
.menu-block>.nav-stacked>li>a:hover, .menu-block>.nav-stacked>li>a:focus{
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.nav-stacked.menu-side>li{
    margin-top: 0;
    padding: 10px 20px;
    background-color: rgba(241, 238, 236, 0.53);
}
.nav-stacked.menu-side>li>a:hover, .nav-stacked.menu-side>li>a:focus{
    background-color: rgba(241, 238, 236, 0.53);
    color: black;
}

.left-menu>.student-menu{
}
.right-menu>.student-menu{
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
}