.content{
    padding: 0 15px 20px;
    margin: 0;
    border-bottom: 3px solid #e43f51;
}

.btn.btn-default.profile-btn{
    border: none;
}
.btn.btn-default.profile-btn:hover, .btn.btn-default.profile-btn:focus{
    background-color: #fbf9f5;
    box-shadow: none;
}
.open>.dropdown-toggle.btn-default.profile-btn:focus, .open>.dropdown-toggle.btn-default.profile-btn:hover {
    background-color: #fbf9f5;
    box-shadow: none;
}
.profile-image{
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-left:  -5px;
}
.profile.dropdown-menu{
    right: 0;!important;
}
.btn.btn-default.profile-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}

.profile-btn>span.caret{
    margin-left: 5px;
}

/*student menu*/

#left-menu{
    background-image: url(../images/mosaic-combo-bottom-blur.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    opacity : 0.7;

    margin-right: 20px;
}

#right-menu{
    background-image: url(../images/mosaic-combo-bottom-blur.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    opacity : 0.7;

    margin-left: 20px;
}

#menu-center{
    padding: 0;
    background-image: url(../images/mosaic-combo-blur.jpg);
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    opacity : 0.7;
}



.student-menu{
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    text-align: center;
    border-radius: 4px;
    text-shadow: black 2px 1px 5px;
}

.menu-block>.nav-stacked>li{
    margin-top: 0;
    padding: 10px 25px;
}
.menu-block>.nav-stacked>li>a{
    color: white;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #e7e7e7;
}
.menu-block>.nav-stacked>li>a:hover, .menu-block>.nav-stacked>li>a:focus{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    box-shadow:  black 2px 1px 5px;
    text-shadow: none;
}

.nav-stacked.menu-side>li{
    margin-top: 0;
    padding: 10px 20px;
}




