.language-search{
    margin-top: 10px;
    margin-left: -30px;
}




.header{

}


#amcp_logo {
    margin: 25px 0px 0px 20px;
    height: 100px;
}

#spbu_block {
    height: 120px;
    margin-left: -35px;
    margin-top: 18px;

}

.title {
    margin-top: 0px;
    font-size: 22pt;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif ;
}
.subtitle{
    margin-top: 7px;
    font-size: 18pt;
    font-family: 'Open Sans', sans-serif ;
}

.title-col{
    margin-top: 20px;
    margin-bottom: 30px;
}