/*
header row styles
*/
.header-row{
    padding: 5px;
    /*background-color: #f8f9f7;*/
}
.languages{
    font-family: 'Open Sans', sans-serif ;
    color: #777;
    padding-right: 20px;
}
.nav-pills>li>a.languages{
    border-radius: 2px;
    padding: 5px 10px 6px;
}
.form-control.search{
    height: 30px;
}
.btn-default.search-btn, .btn-default.sing-in{
    height: 30px;
}
.btn-default.sing-in{
    margin-left: 0px;
    padding-top: 4px;
}
.col-xs-2.sing-in-btn{
    padding-left: 0;
}
/*
title row style
*/
#amcp_logo {
    margin: 5px 0px 0px 20px;
    height: 100px;
}

#spbu_block {
    height: 100px;
    margin-left: -20px;
    margin-top: 10px;

}

.title-col{
    margin-bottom: 20px;
    padding-left: -5px;
    font-family: 'Open Sans', sans-serif ;
}
.subtitle{
    margin-top: 7px;
    font-size: 18pt;
}

.title {
    margin-top: -7px;
    font-size: 22pt;
    font-weight: 600;
}

/*
audience row style
*/
ul.audience{
    margin-left: 18px;
}
ul.audience li{
    display: inline; /* Отображать как строчный элемент */
    margin-top: 0;
    padding: 3px; /* Поля вокруг текста */
}
.nav-pills>li>a.audience{
    color: #555;
    font-family: 'Open Sans', sans-serif ;
    font-size: 13pt;
    border-radius: 2px;
}
.nav>li>a.audience {
    padding: 8px 15px;
}
.nav-pills>li>a.audience:hover {
    background-color:#f8f8f8;
}
.nav-pills>li>a.audience:focus {
    background-color:#e7e7e7;
}
