/*
header row styles
*/
.header-row{
    padding-top: 6px;
    margin-bottom: 10px;
    /*background-color: #f8f9f7;*/
}

/*
audience row style
*/


ul.audience>li{
    display: inline; /* Отображать как строчный элемент */
    margin-top: 0;
    padding-left: 8px;
}
.nav-pills>li>a.audience{
    color: #555;
    font-family: 'Open Sans', sans-serif ;
    font-size: 11pt;
    border-radius: 2px;
}
.nav>li>a.audience {
    padding: 6px 15px 8px;
}
.nav-pills>li>a.audience:hover, .nav-pills>li>a.languages:hover  {
    color: inherit;
    background-color:#f8f8f8;
}
.nav-pills>li>a.audience:focus, .nav-pills>li>a.languages:focus  {
    color: #333;
    background-color:#eee;
}

.languages{
    font-family: 'Open Sans', sans-serif ;
    font-size: 11pt;
    color: #888;
}
.nav-pills>li>a.languages{
    border-radius: 2px;
    padding: 6px 10px 8px;
}
.dropdown-menu.languages{
    min-width: 40px;
}


/*
title row style
*/
.row.header{
    margin-bottom: 20px;
}
#amcp_logo {
    margin: 5px 0px 0px 20px;
    height: 100px;
}

#spbu_block {
    height: 100px;
    margin-left: -20px;
    margin-top: 7px;
}

.title-col{
    padding-left: -5px;
    font-family: 'Open Sans', sans-serif ;
}
.subtitle{
    margin-top: 7px;
    font-size: 18pt;
}

.title {
    margin-top: -7px;
    font-size: 22pt;
    font-weight: 600;
}



/*
main menu style
*/
.navbar.navbar-default.main-menu{
    margin-bottom: 3px;
    min-height: 30px;
}

div#navbar-collapse-1.collapse.navbar-collapse.navbar-nav-justified {
    padding-right: 0px;
    padding-left: 0px;
}
.nav-pills>li>a.menu{
    color:#555;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}
ul.dropdown-menu.main-menu>li>a{
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}
.nav-pills>li>a.menu:focus {
    background-color:#e1e1e1;
}
span.navmenu{
    font-family: 'Open Sans', sans-serif;
    padding-left: 3px;
}

/*
pano image style
*/
img.pano{
    width: 100%;
    border-radius: 4px;
    margin-bottom: -40px;
}

#img_container {
    position:relative;
    display:inline-block;
    text-align:center;
}

button.virtual-tour {
    position: inherit;
    bottom: 2px;
    width:100%;
    padding: 10px;
    background: linear-gradient(to right, transparent 0%, transparent 10%,
                                            #efebe5 40%, #efebe5 60%,
                                            transparent 90%, transparent 100%);
    opacity: 1;
    box-shadow: 0px 6px 7px -3px #b8b6b2;

    border: none;
}
button.virtual-tour:hover{
    background: linear-gradient(to right, transparent 0%, transparent 10%,
    #dfdbd4 40%, #dfdbd4 60%,
    transparent 90%, transparent 100%);
}
a.virtual-tour{
    opacity: 1;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}
a.virtual-tour:hover, a.virtual-tour:focus{
    text-decoration: none;
    color: #000;

}


/*
news
*/

/*
faculty news
*/

.col-sm-9.news-box{
    padding-right: 1px;
}
.news{
    font-family: 'Open Sans', sans-serif;
    margin-top: 4px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #f9f7f4;
}
.news>h3{
    margin-top: 10px;
    margin-left: 10px;
}

.news>.news-item{
    background-color: white;
    padding: 8px 15px 5px ;
    margin-bottom: 10px;
}
.news>.news-item>h5{
    margin-top: 0px;
    font-weight: 600;
    font-size: 12pt;
}

.news-item.info{
    text-align: right;
}
.news-item.info>ul{
    padding: 0px;
    margin-top: -15px;
    margin-bottom: 0px;

}
.news-item.info>ul>li{
    display: inline;
    color: #555;
    font-size: small;
    font-weight: 200;
    padding-left: 20px;
}
.news>.news-item>img{
    max-width: 100%;
    margin-bottom: 15px;
}
/*
spbu news
*/
.col-sm-3.news-box{
    padding-left: 1px;
}

.spbu-news>.spbu-news-item, .spbu-info>.spbu-info-item{
    padding: 5px 10px 5px ;
}
.spbu-news>h3, .spbu-info>h3{
    font-size: 14pt;
    margin-top: 16px;
}
.spbu-news>.spbu-news-item>h5, .spbu-info>.spbu-info-item>h5{
    margin-top: 0px;
    font-size: 11pt;
}
.spbu-news>.spbu-news-item>h5>a, .spbu-info>.spbu-info-item>h5>a{
    color: #555;
}
.spbu-news>.spbu-news-item>h5>a:hover, .spbu-news>.spbu-news-item>h5>a:focus{
/*    text-decoration: none;*/
}
.spbu-info{
    margin-top: 2px;
}
